<!DOCTYPE html>
<html>

<head>
  <title>Uusi varaus</title>
</head>

<body>
  <h1>Uusi varaus</h1>
  <form action="/create_reservation" method="post">
    <p>
      Nimi: <br />
      <input type="text" name="name" />
    </p>
    <p>
      Henkilöiden määrä: <br />
      <input type="text" name="amount" />
    </p>
    <p>
      Aika: <br />
      <input type="text" name="time" />
    </p>
    <p>
      Toivottu kissa: <br />
      <input type="text" name="cat" />
    </p>
    <input type="submit" value="Vahvista varaus" />
  </form>
</body>

</html>