<!DOCTYPE html>
<html>

<head>
  <title>{{ reservation.name }}</title>
</head>

<body>
    <h1>{{ reservation.name }}</h1>
    {% if session.user_id ==  reservation.user_id%}
    <p>
      <a href="/edit_reservation/{{ reservation.id }}">Muokkaa varausta</a>
      <a href="/remove_reservation/{{ reservation.id }}">Poista varaus</a>
    </p>
    {% endif %}
    <p>
      Tulevien henkilöiden määrä: {{reservation.amount}}
    </p>
    <p>
      Toivottu tuloaika: {{reservation.time}}
    </p>
    <p>
      Toivottu kissa: {{reservation.cat}}
    </p>
    <p>
      Varaaja: <a href="/user/{{ reservation.user_id}}">{{reservation.username}}</a>
    </p>
    {% if classes %}
    <p>
      Luokat:
      <ul>
        {% for class in classes %}
        <li>{{ class.name }}: {{ class.value }}</li>
        {% endfor %}
      </ul>
    </p>
    {% endif %}
    <h2>Kommentit</h2>
    <ul>
      {% for comment in comments %}
      <li>{{ comment.comment }}, <a href="/user/{{ comment.user_id }}">{{comment.username}}</a></li>
      {% endfor %}
    </ul>
    <h2>Uusi kommentti</h2>
    <form action="/create_comment" method="post">
      Kommentti: <br />
      <textarea name="comment" rows="4" cols="50" maxlength="100" required></textarea> <br /> <br />
      <input type="hidden" name="reservation_id" value="{{ reservation.id }}">
      <input type="submit" value="Lisää kommentti" />
    </form>
    <p>
      <a href="/">Takaisin</a>
    </p>
</body>

</html>